{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="container">
        <table>
            <div class="example-wrapper">
                <tr>
                    <h1>Theme</h1>
                </tr>
                {% for theme in themes %}
                    <tr>
                        <td>{{ theme.name }}</td>
                    </tr>
                {% endfor %}

            </div>
        </table>
        <a href="{{ path('admin_add_theme') }}" class="nav-link">add theme</a>
    </div>
{% endblock %}
