{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td,th {
        border: 1px black solid;
    }
    .tr td:first-child {
        width: 15%;
    }
</style>
    <div class="container">
        {% for collection in collections %}
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ collection.title }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ collection.image }}</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{ collection.description }}</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Look</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
